In [1]:
import pyodbc
import pandas as pd
conn = pyodbc.connect('Driver={IBM i Access ODBC Driver}; '
       'SYSTEM = 192.168.0.161;'
        'Hostname=M3; '
        'Port=21; '
        'Protocol=TCPIP; '
        'Database=M3; '
        'UID=pud; '
        'PWD = Pud142;'
        ,autocommit=True)

In [2]:
sql="SELECT trim(PMPRNO) as pn,trim(PMMTNO) as mn FROM M3FDBTST.MPDMAT m WHERE PMCONO  =1"
products_table = pd.read_sql(sql,conn)

C:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [3]:
%%time


ALL_PRODUCT_NUMBER=set()

res=[]

for i in range(len(products_table)):
    
    ALL_PRODUCT_NUMBER.add(products_table.iloc[i].PN)

Wall time: 1.86 s

In [4]:
def get_all_matiriels(product_number):
    res=set()
    for i in range(len(products_table)):
        row=products_table.iloc[i]
        if row.PN==product_number:
            res.add(row.MN)
    return list(res)

In [5]:
%%time
target="566011"
matiriels=[]
curr_products=[target]
for product in curr_products:
    
    for i in range(len(products_table)):
        row=products_table.iloc[i]
        if row.PN==target:
            matiriels+=get_all_matiriels(row.MN)
    
print(set(matiriels))
matiriels=set(matiriels)

{'139012', '130711', '130202', '130709', '110103', '101004', '190101', '130101', '130207', '100210', '130714', '190102', '130710'}
Wall time: 9.23 s

In [6]:
sql="SELECT trim(MMITNO) as IN,trim(MMITDS) as MAT_DES,trim(MMMABU) as type FROM M3FDBTST.MITMAS m WHERE MMCONO  =1"
matriels_table = pd.read_sql(sql,conn)

C:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [7]:
res=set()

for i in matriels_table.values:
    
    if i[0] in matiriels and i[2]=="2":
        res.add(i[0])
print(res)

{'130711', '130202', '130709', '101004', '110103', '190101', '130101', '130207', '100210', '130714', '190102', '130710'}

In [8]:
%%time
sql="SELECT * FROM M3FDBTST.MITTRA WHERE MTCONO =1  AND MTBANO ='2225890201'"
transfers=pd.read_sql(sql,conn)

C:\Users\matan.s\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Wall time: 683 ms

In [9]:
print(len(transfers))

1178